@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, section, div, header, footer, main, aside, nav, blockquote, p, span, q {
  margin: 0;
  padding: 0;
}

img, svg {
  vertical-align: middle;
}

body {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #535656;
}

.btn-dark, .btn-primari, .btn-secondary, .btn-accent, .btn-gray, .btn-light {
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  padding: 15px 40px;
  border: 1px solid;
  font-size: 1em;
  transition: 0.25s;
  text-decoration: none !important;
  background-color: transparent;
  font-family: "poppins" sans-serif;
  font-weight: 600;
  font-style: normal;
}
.btn-dark:hover, .btn-primari:hover, .btn-secondary:hover, .btn-accent:hover, .btn-gray:hover, .btn-light:hover {
  transition: ease-in 0.2s;
  text-decoration: none;
}

.btn-menu {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid;
  transition: 0.25s;
  text-decoration: none !important;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: transparent;
  height: 55px;
  width: 55px;
  font-size: 1.6rem;
}
.btn-menu:hover {
  transition: ease-in 0.25s;
  text-decoration: none;
}

.container {
  position: relative;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

a {
  display: inline-block;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a[target=_blank]::after {
  content: "\f08e";
  font-family: "Font Awesome 6 Pro";
  display: inline-block;
  vertical-align: middle;
  font-size: 0.8em;
  margin-left: 0.3em;
  margin-top: -0.9em;
}

p {
  margin: 0;
  margin-top: 0rem;
  margin-bottom: 1em;
}

q {
  font-size: 20px;
  font-weight: 200;
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.4;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 40px;
  font-weight: 600;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
  font-weight: 500;
}

h6 {
  font-size: 14px;
  font-weight: 600;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
@media (min-width: 1400px) {
  .wrapper {
    grid-template-rows: auto auto 1fr auto;
  }
}

.topbar {
  padding-top: 20px;
}
.topbar .container {
  display: flex;
  justify-content: space-between;
}
.topbar .container .socials {
  display: flex;
  gap: 15px;
}
.topbar .container .socials a {
  border: 1px;
  border-color: red;
}

.navbar {
  display: flex;
}
.navbar .container .menu a {
  padding-right: 70px;
  color: var(--color-border-primari);
  font-weight: 600;
}

footer {
  padding-top: 20px;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.hero {
  padding-top: 70px;
  padding-bottom: 70px;
}
.hero .container .content {
  width: 45%;
}
.hero .container p {
  padding-bottom: 20px;
}

.about-us {
  padding-top: 70px;
  padding-bottom: 70px;
}
.about-us .container .content {
  width: 55%;
}
.about-us .container .content .text p {
  padding-top: 20px;
}
.about-us .container .content .signature p {
  padding-top: 10px;
}

.our-services {
  padding: 120px 0;
}
.our-services .container .headline {
  text-align: center;
}
.our-services .container .headline h2 {
  width: 50%;
  margin: auto;
}
.our-services .content-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.our-services .content-grid .service-container {
  background: #FFFFFF;
  width: 370px;
}
.our-services .content-grid .service-container h5 {
  margin: 30px;
}
.our-services .content-grid .service-container p {
  margin: 30px;
}

.our-story {
  padding-top: 100px;
}
.our-story .container .content {
  padding-bottom: 90px;
}
.our-story .container .content .info {
  text-align: center;
  width: 50%;
  margin: auto;
}
.our-story .container .content .info p {
  margin-top: 50px;
  margin-bottom: 40px;
}

.success-stories {
  padding-top: 100px;
  height: 830px;
}
.success-stories .container .headline {
  text-align: center;
}
.success-stories .container .content {
  display: flex;
  justify-content: space-around;
  margin: 70px 0px;
}
.success-stories .container .content .story-container {
  text-align: center;
  width: 25%;
}
.success-stories .container .content .story-container h3 {
  font-size: 100px;
  font-weight: 500;
  margin-bottom: 0;
}
.success-stories .container img {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}

.our-projects {
  padding-top: 260px;
}
.our-projects .container {
  margin-top: 90px;
}

.founder {
  padding-top: 110px;
  padding-bottom: 150px;
}
.founder .container {
  display: flex;
}
.founder .container .picture {
  margin-right: 50px;
}
.founder .container .picture p {
  margin-top: 15px;
}
.founder .container .content p {
  margin-top: 30px;
}

.reviews .container {
  display: flex;
}
.reviews .container .content {
  margin-top: 80px;
  margin-right: 50px;
}
.reviews .container .content .text {
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  color: #999999;
  margin-bottom: 10px;
}
.reviews .container .content .stars i {
  font-size: 12px;
  margin-bottom: 20px;
  color: #333333;
}
.reviews .container .content .name {
  font-size: 14px;
  margin-bottom: 5px;
}
.reviews .container .content .work {
  font-size: 18px;
  font-style: italic;
}
.reviews img {
  width: 850px;
}

.our-experts {
  margin-top: 120px;
}
.our-experts .container .headline {
  text-align: center;
}
.our-experts .container .headline h2 {
  width: 40%;
  margin: auto;
}

.breadcrumb {
  height: 240px;
}
.breadcrumb img {
  position: absolute;
  z-index: 0;
}
.breadcrumb .img-left {
  bottom: 85px;
}
.breadcrumb .img-right {
  right: 0;
}
.breadcrumb .container {
  text-align: center;
  margin-top: 80px;
}
.breadcrumb .container .navigation i {
  margin: 0px 10px;
}

.partners {
  padding: 90px 0px;
}
.partners .container {
  display: flex;
  justify-content: space-around;
}
.partners .content {
  display: flex;
}/*# sourceMappingURL=main.css.map */