@import "./mixins/mixins";

@import "./misc/base";

@import "./components/buttons";
@import "./components/container";
@import "./components/links";
@import "./components/typography";
@import "./components/wrapper";

@import "./sections/header";
@import "./sections/footer";
@import "./sections/wrapper";
@import "./sections/homepage";
@import "./sections/aboutpage";
@import "./sections/contactpage";
@import "./sections/breadcrumb";
@import "./sections/partners";
@import "./sections/contactinfo";